* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, 
input, 
textarea,
form button {
    font-family: "Roboto Mono", monospace;
    font-weight: normal;
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 40px;
}

input, textarea, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

button {
    background-color: rgb(23, 23, 167);
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    background-color: rgb(6, 76, 142);
}

.success-message {
    background-color: rgb(23, 23, 167);
    padding: 16px;
    color: #fff;
    display: none;
}

.container p {
    font-size: 14px;
}

.error-message {
    color: red;
    padding: 8px;
    margin-bottom: 8px;
    font-size: 6px;
    display: none;
}

input.error {
    color: red;
    border-color: red;
    outline-color: red;
}